:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    max-width: 100%;
    width: 100%;
    text-align: center;
    background-color: white;
  
    --primary-color: #0ab932 !important;
    --grey: #b6b8b9
}

