/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */

@import "primereact/resources/themes/lara-light-green/theme.css";
@import "primereact/resources/primereact.min.css";

/* Gerador de paleta de cores: https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima */

:root {
    --ifm-color-primary: #006000;
    --ifm-color-primary-dark: #005600;
    --ifm-color-primary-darker: #005200;
    --ifm-color-primary-darkest: #004300;
    --ifm-color-primary-light: #006a00;
    --ifm-color-primary-lighter: #006e00;
    --ifm-color-primary-lightest: #007d00;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --primary-color: #0ab932 !important;
    /*--primary-color: #006000 !important;*/
    --grey: #b6b8b9
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-primary: #9bbf86;
    --ifm-color-primary-dark: #89b471;
    --ifm-color-primary-darker: #81ae66;
    --ifm-color-primary-darkest: #69954f;
    --ifm-color-primary-light: #adca9b;
    --ifm-color-primary-lighter: #b5d0a6;
    --ifm-color-primary-lightest: #d0e1c6;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}


html[data-theme='light'] .footer {
  background-color: #9bbf86;
}

html[data-theme='dark'] .footer {
  background-color: #242526;
}

html[data-theme='light'] .logo-light {
    display: inline;
}
html[data-theme='light'] .logo-dark {
    display: none;
}

html[data-theme='dark'] .logo-light {
    display: none;
}
html[data-theme='dark'] .logo-dark {
    display: inline;
}


/* Outros tons de verde*/
/*
:root {
    --ifm-color-primary: #9bbf86;
    --ifm-color-primary-dark: #89b471;
    --ifm-color-primary-darker: #81ae66;
    --ifm-color-primary-darkest: #69954f;
    --ifm-color-primary-light: #adca9b;
    --ifm-color-primary-lighter: #b5d0a6;
    --ifm-color-primary-lightest: #d0e1c6;
    --ifm-code-font-size: 95%;
    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    --primary-color: #0ab932 !important;
    --grey: #b6b8b9
}*/


/*
[data-theme='dark'] {
  --ifm-color-primary: #4fd38a;
  --ifm-color-primary-dark: #48c47f;
  --ifm-color-primary-darker: #3fb573;
  --ifm-color-primary-darkest: #339c61;
  --ifm-color-primary-light: #6ce6a0;
  --ifm-color-primary-lighter: #8cf0b7;
  --ifm-color-primary-lightest: #b0f8ce;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/