.footer {
    height: 300px;
    background-color: rgba(77, 141, 40, 0.56);
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    padding: 10px 10px 10px 10px
}

.footer a {
    color: white;
    text-decoration: underline;
    transition: all 0.3s ease;
}

.footer a:hover {
    color: greenyellow;
    transition: all 0.3s ease;
}

.footerSec {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.logo {
    height: 100px
}

.logosRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto
    }
} 