.card {
    width: 40vw;
}

:global(.p-card-header) {
    text-align: center;
}

:global(.p-card-header) img {
    width: unset !important;
    max-width: 100%;
}

@media (max-width: 996px) {
    .card {
        width: 60vw;
    }
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}